{% extends 'basetemplate/base.html' %}
{% load humanize %}
{% block maincontent %}

    <!-- Page content -->
    <div class="contentWrapper">
      <div class="row">
        <h1>Messages</h1>
        <h4>Here you can find all your messages.</h4>
      </div>
      <div class="row">
        <div class="left-panel col-md-2 col-xs-12">
          <ul class="left-panel-list">
            <li class="new-message"><a href="messages.html#" data-toggle="modal" data-target="#new-message"><i class="fa fa-leaf" aria-hidden="true"></i>New message</a></li>
            <li class="inbox active"><a href="{% url 'view-mail' %}"><i class="fa fa-envelope" aria-hidden="true"></i>Sent Mails &nbsp; ({{ sent_mail.count }})</a></li>
            <li class="drafts"><a href=""><i class="fa fa-pencil" aria-hidden="true"></i>Drafts</a></li>
          </ul>
          <hr>
          <ul class="left-panel-list">
            <li class="personal-label"><a href=""><i class="fa fa-circle" aria-hidden="true"></i>Personal</a></li>
            <li class="employees-label"><a href=""><i class="fa fa-circle" aria-hidden="true"></i>Employees</a></li>
            <li class="clients-label"><a href=""><i class="fa fa-circle" aria-hidden="true"></i>Clients</a></li>
          </ul>
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="mail-box">
            <div class="right-panel">
              <div class="right-panel-header">
                <ul class="nav nav-tabs">
                  <li class="selectOptions">  
                    <span>Date:</span>
                    <select>
                      <option value="all">All</option>
                      <option value="today">Today</option>
                      <option value="yesterday">Yesterday</option>
                      <option value="this-week">This week</option>
                    </select>               
                  </li>
                  <li class="selectOptions">  
                    <span>Source:</span>
                    <select>
                      <option value="all">All</option>
                      <option value="personal">Personal</option>
                      <option value="employees">Employees</option>
                      <option value="clients">Clients</option>
                      <option value="other">Other</option>
                    </select>
                  </li>  
                  <li class="pull-right">
                    <div class="msg btn-group">
                        <button class="btn btn-transparent btn-transparent-white btn-sm">
                          <i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-transparent btn-transparent-white btn-sm">
                          <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                  </li>            
                  <li class="messagesNumber pull-right">
                    <a href="messages.html#">Message <span>10</span> of 30</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="right-body">
              <ul class="mail-list">

                {% for mails in sent_mail %}
                  <li class="mail-list-item mail-unread">

                  <a href="view-message.html">
                    <div class="mail-info">
                      <img src="{{ MEDIA_ROOT }}/{{ mails.image_sent.image.url }}" alt="Sent Image">
                      <span class="employees-label">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </span>
                      {{ mails.sent_to.capitalize }}
                    </div>
                    <div class="mail-content">
                      {{ mails.subject | truncatechars:21 }}
                    </div>
                    <div class="mail-time pull-right">
                      {{ mails.delivery_time | naturaltime }}
                    </div>
                  </a>
                </li>

                  {% endfor %}

              </ul>
            </div>
          </div>
        </div>
          <!-- Modal -->
          <div class="modal fade" id="new-message" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <span class="closeModal pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></span>
                  <h4 class="modal-title">New Message</h4>
                </div>
                <div class="modal-body">

                  <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                      <input class="form-control" placeholder="To: someone@mail.com" type="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                      <input class="form-control" placeholder="Subject" type="text">
                    </div>
                  </div>
                  <div id="summernote">Write something cool!</div>
                </div>
                <div class="modal-footer">
                  <a class="send-message" href="messages.html"><i class="fa fa-share" aria-hidden="true"></i> Send message</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end .contentWrapper -->
{% endblock %}
