{% extends 'basetemplate/base.html' %}
{% load humanize %}

{% block heading %}

        <h1 style="justify-content: center;">Sent Sms</h1>

{% endblock %}

{% block maincontent %}

    <!-- Page content -->


        <div class="col-md-10 col-xs-12">
          <div class="mail-box">
            <div class="right-panel">
              <div class="right-panel-header">
                <ul class="nav nav-tabs">
                  <li class="selectOptions">  
                    <span>Date:</span>

                  </li>
                  <li class="selectOptions">  
                    <span>Source:</span>
                    <select>
                      <option value="all">All</option>
                      <option value="personal">Personal</option>
                      <option value="employees">Employees</option>
                      <option value="clients">Clients</option>
                      <option value="other">Other</option>
                    </select>
                  </li>  
                  <li class="pull-right">
                    <div class="msg btn-group">
                        <button class="btn btn-transparent btn-transparent-white btn-sm">
                          <i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-transparent btn-transparent-white btn-sm">
                          <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                  </li>            
                  <li class="messagesNumber pull-right">

                    <a href="messages.html#">Message <span>10</span> of 30</a>

                  </li>
                </ul>
              </div>
            </div>
            <div class="right-body">
              <ul class="mail-list">

                {% for sms in sent_sms %}
                  <li class="mail-list-item mail-unread">

                  <a href="{% url 'view-sms-inbox' sms.pk %}">
                    <div class="mail-info">
{#                      <img src="{{ MEDIA_ROOT }}/{{ mails.image_sent.image.url }}" alt="Sent Image">#}
                      <span class="employees-label">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </span>
                      {{ sms.sent_to.capitalize }}
                    </div>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                    <div class="mail-info">
                      {{ sms.message_body | truncatechars:21 }}
                    </div>

                      &nbsp;
                      &nbsp;
                      &nbsp;

                       <div class="mail-info">
                      {{  sms.cost }}
                    </div>

                    <div class="mail-time pull-right ">
                      {{  sms.status }}
                    </div>

                  </a>
                </li>

                  {% endfor %}

              </ul>
            </div>
          </div>
        </div>
          <!-- Modal -->
          <div class="modal fade" id="new-message" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <span class="closeModal pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></span>
                  <h4 class="modal-title">New Message</h4>
                </div>
                <div class="modal-body">

                  <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                      <input class="form-control" placeholder="To: someone@mail.com" type="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                      <input class="form-control" placeholder="Subject" type="text">
                    </div>
                  </div>
                  <div id="summernote">Write something cool!</div>
                </div>
                <div class="modal-footer">
                  <a class="send-message" href="messages.html"><i class="fa fa-share" aria-hidden="true"></i> Send message</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end .contentWrapper -->
{% endblock %}


