{% extends 'basetemplate/base.html' %}
{% load static %}
{% block heading %}

        <h1 style="justify-content: center;">View Sms</h1>

{% endblock %}}

  {% block maincontent %}
    <!-- Page content -->


      <div class="row">
        <div class="col-md-10 col-xs-12">
          <div class="message-box">
            <div class="message-from">
              <img src="../../{{ view_mail.image_sent.image.url }}" alt="User image">
              <div class="message-from-info">
                <span class="name">
                  <span class="clients-label">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </span>

                </span><br>
                <span class="mail">{{ view_mail.sent_to }}</span><br>
                <span class="time">{{ view_mail.delivery_time }}</span>
              </div>
            </div>
            <div class="message-content">
              <h1>{{ view_mail.subject }}</h1>
              
              <p>{{ view_mail.from_email }}
              <br><br>
              Still Under Active Development, the mail will display here as sent to the client including the images<br>
              <span>John Doe</span></p>


            </div>
          </div>
        </div>

        </div>
{% endblock %}

<!-- end .contentWrapper -->

    <!-- Footer -->
