{% extends 'basetemplate/base.html' %}

{% block maincontent %}


<div class="container">
    <h1 class="text-center logo ">
        <a href="#" style="color:#fde4e4;">Send Customized Mail</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Send Mail</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



{% block footer %}
    <div></div>
{% endblock %}










    {#  <form method="post" class="col-md-8" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {% include 'includes/form.html' %}#}
{#    <button type="submit">Send Mail</button>#}
{#  </form>#}
{##}
{#  <p><a href="{% url 'home' %}">Return to home</a></p>#}
{#    </div>#}
{% endblock %}
